.btnf {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: white;
        color: var(--fire-bush);
        border: 1px solid var(--fire-bush);
        cursor: pointer;
        font-weight: bold;
}
      
.btnf:hover {
        background-color: var(--fire-bush);
        color: white;
}

.btnf.active {
        background-color: var(--fire-bush);
        color: white;
}

.show {
        display: block;
}